* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------------------------- dimensioni blocchi layout  */

.page {
    font-family: sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: green;
    display: flex;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    width: calc(100% - 200px);
    height: calc(100vh - 70px);
    background-color: #141922;
}

header {
    position: fixed;
    position: relative;
    width: calc(100% -200px);
    height: 70px;
    background-color: #080b12;
}

/*  ---------------------------------------- utility */

.pdng {
    padding: 0 15px;
}

.txt {
    font-weight: bold;
    color: #6e6e6e;
    font-size: 15px;
}

.title {
    color: #fff;
    font-weight: bold;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}


/* ------------------------------------------sidebar */

.sidebar-down {
    height: 50px;
    
}

.sidebar-up {
    height: calc(100% - 50px);
    
}

.logo {
    width: 100%;
    /* height: 70px; */
}
 
.logo-image img {
    width: 100px;
    height: 70px;
}

.icon {
    width: 100%;
    /* height: 100px; */
}

.icon img {
    width: 20px;
    vertical-align: middle;
}

.icon span {
    line-height: 30px;
    color: #fff;
    padding: 0 5px;
    font-size: 15px;
}

.icon a,
.playlist a {
    text-decoration: none;
}

/* .crea-pl {
    height: 30px;
} */

.playlist span {
    color: #fff;
}

.quadrato {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #a3a3a3;
    display: inline-block;
    vertical-align: middle;
}

.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.crea-pl span {
    line-height: 30px;
}

.lista-pl {
    overflow-y: auto;

}

.nome-pl {
    padding: 5px 0 5px 15px;
}

.install {
    color: white;
    /* padding: 10px 0px; */
}

.user-icon img {
    height: 30px;
    background-color: #a3a3a3;
    border-radius: 50%;
}

.text-profile {
    color: white;
}

.profile {
    /* padding: 10px 0px; */
    border-top: 1px solid #a3a3a3;
}

/* -------------------------------------------------header */

.upgrade-button {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.upgrade-button a {
    text-decoration: none;
    color: #fff;
}

/*  ------------------------------------------------------main  */

.box-main {
    overflow-y: auto;
    height: 100%;
}

.nav-album {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.nav-album a {
    text-decoration: none;
    color: #6e6e6e;
}

.box-album {
    padding: 5px 15px;
    width: calc(100% / 6 - 30px);
}

.box-album img {
    width: 100%;
}

.box-row3 img {
    border-radius: 50%;
}

















/* --------------------------------------------------footer */


.footer-left, .footer-right {
    width: 250px;
    height: 70px;
    max-width: calc(100% / 3);
    padding: 20px 0;
}

.footer-left {
    display: flex;
    justify-content: space-between;
}

/* .footer-right {
    display: flex;
} */

.footer-center {
    width: calc(100% - 500px);
    height: 70px;
    flex-grow: 1;
    padding: 20px 0;
}

.album-footer {
    width: 20px;
}

.album-footer img {
    width: 100%;
}

.icon-footer i {
    color: #a3a3a3;
    padding: 0 5px;
}

.icon-player {
    display: flex;
    justify-content: center;
}

.player-footer {
    display: flex;
    justify-content: center;
}

 #play1 {
    width: 50%; 
    margin: 0 15px;   
}

#play2 {
    width: 50%;
}

.icon-ft-right i {
    color: #fff;
    padding: 0 5px;
}
























